/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

.signin{ 
  min-height: 350px;
  margin-top: 100px
}

.dropdown a:hover, a:focus{
  text-decoration: none;
}

.dropdown a:focus{
  text-decoration: none;
}

.dropdown a{
  font-size: 150%
}

.signup{
  min-height: 400px;
  margin-top: 50px;
}

.menu{
  margin-top: -20px;
}


#current_user{
	margin-top: 15px;
	color: #fff;
	font-size: 14px;
}

.margin_top{
  margin-top: 60px;
}

.logout_menu{
  font-size: 120%;
  margin-top: 10px;
  color: white;
}


#current_user a{
		text-decoration: none;
}

#user{
	font-size: 17px;	
}

.forgot_password{
	float: right;
	font-size: 80%;
	position: relative;
	 margin-top: -10px;
}

body {
  padding-top: 70px
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  /*width: 100%;*/
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}


.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}